<app-header></app-header>
  <!--ofcanvus menu start-->
  <div class="at_offcanvus_menu position-fixed">
    <button class="at-offcanvus-close"><i class="fa-solid fa-xmark"></i></button>
    <a href="#" class="logo-wrapper d-inline-block mb-5"><img src="assets/img/logo-black.png" alt="logo"></a>
    <div class="offcanvus-content">
        <h4 class="mb-4">About Us</h4>
        <p>Explain to you how all this mistaken denouncing pleasure and praising pain was born and we will give you a complete account of the system, and expound the actual teachings.</p>
        <p>Mistaken denouncing pleasure and praising pain was born and we will give you complete account of the system expound.</p>
        <a href="#" class="btn btn-primary mt-4">About Us</a>
    </div>
    <div class="offcanvus-contact">
        <h4 class="mb-4 mt-5">Contact Info</h4>
        <ul class="at_canvus_address">
            <li>Chicago 12, Melborne City, USA</li>
            <li>+8801682648101</li>
            <li>info@example.com</li>
        </ul>
    </div>
    <div class="at_canvus_social mt-4">
        <a href="#" class="social-btn"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-youtube"></i></a>
    </div>
</div>
<!--ofcanvus menu end-->

<!--breadcrumb section start-->
<section class="breadcrumb-section position-relative z-2 overflow-hidden mt--75" data-background="assets/img/shapes/texture-bg.png">
    <img src="assets/img/shapes/tire-print-left.png" alt="tire print" class="position-absolute start-0 z-1 tire-print">
    <img src="assets/img/shapes/tire-print-right.png" alt="tire print" class="position-absolute end-0 z-1 tire-print">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb-content-wrapper text-center position-relative z-3">
                    <h1 class="text-white">FAQs</h1>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item text-white fw-500"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white fw-500">Page</li>
                        <li class="breadcrumb-item text-white fw-500">FAQs</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->
 <!--FAQs section start-->
 <section class="FAQs-section ptb-120 position-relative z-1 overflow-hidden"> -->
    <span class="bg-primary-shape position-absolute start-0 top-0 z--1"></span>
    <div class="container">
        <div class="FAQs-title-top">
            <div class="row justify-content-center justify-content-lg-between align-items-center">
                <div class="col-xl-4 col-lg-6 col-md-8">
                    <div class="section-title text-center text-lg-start">
                        <h3 class="mb-0">Select your Perfect Plan for promote your ad</h3>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-9">
                    <div class="section-desc text-center text-lg-start mt-4 mt-lg-0">
                        <p class="mb-0">We have facility to produce advance work for industrial applications based on specially developed technology.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="FAQs-pricing-plan mt-5 position-relative z-1">
            <span class="bg-circle-shape position-absolute z--1"></span>
            <div class="row g-4 justify-content-center">
                <div class="col-xl-4 col-lg-6 col-sm-10">
                    <div class="FAQs-price-single bg-white rounded position-relative z-1 overflow-hidden">
                        <img src="assets/img/icons/bell.svg" alt="bell" class="pr-icon">
                        <h5 class="mb-2">Premier Plan</h5>
                        <h2 class="mb-3">$10 <span>/per month</span></h2>
                        <p>Shen an unknown printer took a galley of type and scrambled</p>
                        <span class="spacer mt-4 mb-4"></span>
                        <ul>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Duration: 15 days</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Max. listings : 1</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Listing expiry : 15 days</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Featured listings : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Featured for : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Bump-up Listings : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>All listing access</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Location wise map</li>
                        </ul>
                        <a href="#" class="btn outline-btn mt-30 d-block">Get Started<span class="ms-2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-10">
                    <div class="FAQs-price-single bg-white rounded position-relative z-1 overflow-hidden">
                        <img src="assets/img/icons/shield.svg" alt="shield" class="pr-icon">
                        <h5 class="mb-2">Premier Plan</h5>
                        <h2 class="mb-3">$25 <span>/per month</span></h2>
                        <p>Shen an unknown printer took a galley of type and scrambled</p>
                        <span class="spacer mt-4 mb-4"></span>
                        <ul>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Duration: 15 days</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Max. listings : 1</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Listing expiry : 15 days</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Featured listings : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Featured for : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Bump-up Listings : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>All listing access</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Location wise map</li>
                        </ul>
                        <a href="#" class="btn outline-btn mt-30 d-block">Get Started<span class="ms-2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-10">
                    <div class="FAQs-price-single bg-white rounded position-relative z-1 overflow-hidden">
                        <img src="assets/img/icons/rocket.svg" alt="rocket" class="pr-icon">
                        <h5 class="mb-2">Premier Plan</h5>
                        <h2 class="mb-3">$30 <span>/per month</span></h2>
                        <p>Shen an unknown printer took a galley of type and scrambled</p>
                        <span class="spacer mt-4 mb-4"></span>
                        <ul>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Duration: 15 days</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Max. listings : 1</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Listing expiry : 15 days</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Featured listings : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Featured for : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Bump-up Listings : N/A</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>All listing access</li>
                            <li><span class="me-3 text-success"><i class="fa-solid fa-circle-check"></i></span>Location wise map</li>
                        </ul>
                        <a href="#" class="btn outline-btn mt-30 d-block">Get Started<span class="ms-2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div> 
        </div> 
        <div class="fq-area pt-120">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="at-section-title text-center">
                        <span class="at-subtitle position-relative text-primary lead">FAQs</span>
                        <h2 class="h1 mb-0 mt-2">Frequently Ask Question</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="faq-tabs mt-5 brands-filter">
                        <ul class="nav nav-tabs border-0 justify-content-center">
                            <li><a href="#general" data-bs-toggle="tab" class="active"><span class="me-2"><i class="fa-solid fa-users"></i></span>General Questions</a></li>
                            <li><a href="#features" data-bs-toggle="tab"><span class="me-2"><i class="fa-solid fa-car-side"></i></span>Car Features</a></li>
                            <li><a href="#technical" data-bs-toggle="tab"><span class="me-2"><i class="fa-solid fa-screwdriver-wrench"></i></span>Technical Support</a></li>
                        </ul>
                        <div class="tab-content mt-60">
                            <div class="tab-pane fade show active" id="general">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_1">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="ac_1" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="ac_2" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="ac_3" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="ac_4" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_2">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="acc_1" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="acc_2" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="acc_3" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="acc_4" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="features">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_3">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="accc_1" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="accc_2" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="accc_3" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="accc_4" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_4">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="a4_1" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a4_2" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a4_3" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a4_4" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="technical">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_5">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="a5_1" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a5_2" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a5_3" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a5_4" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_6">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="a6_1" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a6_2" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a6_3" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a6_4" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <a href="contact.html" class="btn btn-secondary"><span class="me-2"><i class="flaticon-chat"></i></span>Make a Question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FAQs section end-->

<app-footer></app-footer>
