<app-header></app-header>
 <!--ofcanvus menu start-->
 <div class="at_offcanvus_menu position-fixed">
    <button class="at-offcanvus-close"><i class="fa-solid fa-xmark"></i></button>
    <a href="#" class="logo-wrapper d-inline-block mb-5"><img src="assets/img/logo-black.png" alt="logo"></a>
    <div class="offcanvus-content">
        <h4 class="mb-4">About Us</h4>
        <p>Explain to you how all this mistaken denouncing pleasure and praising pain was born and we will give you a complete account of the system, and expound the actual teachings.</p>
        <p>Mistaken denouncing pleasure and praising pain was born and we will give you complete account of the system expound.</p>
        <a href="#" class="btn btn-primary mt-4">About Us</a>
    </div>
    <div class="offcanvus-contact">
        <h4 class="mb-4 mt-5">Contact Info</h4>
        <ul class="at_canvus_address">
            <li>Chicago 12, Melborne City, USA</li>
            <li>+8801682648101</li>
            <li>info@example.com</li>
        </ul>
    </div>
    <div class="at_canvus_social mt-4">
        <a href="#" class="social-btn"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-btn"><i class="fab fa-youtube"></i></a>
    </div>
</div>
<!--ofcanvus menu end-->

<!--breadcrumb section start-->
<section class="breadcrumb-section position-relative z-2 overflow-hidden mt--75" data-background="assets/img/shapes/texture-bg.png">
    <img src="assets/img/shapes/tire-print-left.png" alt="tire print" class="position-absolute start-0 z-1 tire-print">
    <img src="assets/img/shapes/tire-print-right.png" alt="tire print" class="position-absolute end-0 z-1 tire-print">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb-content-wrapper text-center position-relative z-3">
                    <h1 class="text-white">Testimonial</h1>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item text-white fw-500"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white fw-500">Page</li>
                        <li class="breadcrumb-item text-white fw-500">Testimonial</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!--service section start-->
<!-- <section class="sr-service-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="sr-section-title text-center mb-5">
                    <h2 class="h1 mb-4"><span class="text-primary shape-primary">Autohive</span> Service Center</h2>
                    <p class="mb-0">Are you ready to give your car the service it is asking for? Schedule car maintenance or We know there isn't much more frustrating than being.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center g-4">
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="sr-service-single rounded-top bg-white rounded overflow-hidden">
                    <div class="feature-img overflow-hidden">
                        <img src="assets/img/Testimonial/service-1.jpg" alt="not found" class="img-fluid">
                    </div>
                    <div class="sr-service-content position-relative pt-5 pb-30 px-4">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center bg-white position-absolute">
                            <img src="assets/img/icons/sale.svg" alt="not found" class="img-fluid">
                        </span>
                        <a href="promotion.html" class="title">
                            <h3 class="h4 mb-3">Electric Auto</h3>
                        </a>
                        <p>Energetically formulate compelling communities & client-based results. Synergistic standardized users after functional leadership.</p>
                    </div>
                    <a href="promotion.html" class="btn btn-secondary w-100 text-start position-relative z-1">
                        <span>Explore More<i class="fa-solid fa-arrow-right"></i></span>
                        <img src="assets/img/shapes/tire-shape.png" class="tire-shape-black position-absolute end-0 top-0 z--1" alt="tire shape">
                        <img src="assets/img/shapes/tire-shape-white.png" class="tire-shape-white position-absolute end-0 top-0 z--1" alt="tire shape">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="sr-service-single rounded-top bg-white rounded overflow-hidden">
                    <div class="feature-img overflow-hidden">
                        <img src="assets/img/Testimonial/service-2.jpg" alt="not found" class="img-fluid">
                    </div>
                    <div class="sr-service-content position-relative pt-5 pb-30 px-4">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center bg-white position-absolute">
                            <img src="assets/img/icons/key.svg" alt="not found" class="img-fluid">
                        </span>
                        <a href="promotion.html" class="title">
                            <h3 class="h4 mb-3">Rent Vehicle</h3>
                        </a>
                        <p>Energetically formulate compelling communities & client-based results. Synergistic standardized users after functional leadership.</p>
                    </div>
                    <a href="promotion.html" class="btn btn-secondary w-100 text-start position-relative z-1">
                        <span>Explore More<i class="fa-solid fa-arrow-right"></i></span>
                        <img src="assets/img/shapes/tire-shape.png" class="tire-shape-black position-absolute end-0 top-0 z--1" alt="tire shape">
                        <img src="assets/img/shapes/tire-shape-white.png" class="tire-shape-white position-absolute end-0 top-0 z--1" alt="tire shape">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="sr-service-single rounded-top bg-white rounded overflow-hidden">
                    <div class="feature-img overflow-hidden">
                        <img src="assets/img/Testimonial/service-3.jpg" alt="not found" class="img-fluid">
                    </div>
                    <div class="sr-service-content position-relative pt-5 pb-30 px-4">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center bg-white position-absolute">
                            <img src="assets/img/icons/air.svg" alt="not found" class="img-fluid">
                        </span>
                        <a href="promotion.html" class="title">
                            <h3 class="h4 mb-3">Air conditioning</h3>
                        </a>
                        <p>Energetically formulate compelling communities & client-based results. Synergistic standardized users after functional leadership.</p>
                    </div>
                    <a href="promotion.html" class="btn btn-secondary w-100 text-start position-relative z-1">
                        <span>Explore More<i class="fa-solid fa-arrow-right"></i></span>
                        <img src="assets/img/shapes/tire-shape.png" class="tire-shape-black position-absolute end-0 top-0 z--1" alt="tire shape">
                        <img src="assets/img/shapes/tire-shape-white.png" class="tire-shape-white position-absolute end-0 top-0 z--1" alt="tire shape">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="sr-service-single rounded-top bg-white rounded overflow-hidden">
                    <div class="feature-img overflow-hidden">
                        <img src="assets/img/Testimonial/service-4.jpg" alt="not found" class="img-fluid">
                    </div>
                    <div class="sr-service-content position-relative pt-5 pb-30 px-4">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center bg-white position-absolute">
                            <img src="assets/img/icons/cable.svg" alt="not found" class="img-fluid">
                        </span>
                        <a href="promotion.html" class="title">
                            <h3 class="h4 mb-3">Electric Auto</h3>
                        </a>
                        <p>Energetically formulate compelling communities & client-based results. Synergistic standardized users after functional leadership.</p>
                    </div>
                    <a href="promotion.html" class="btn btn-secondary w-100 text-start position-relative z-1">
                        <span>Explore More<i class="fa-solid fa-arrow-right"></i></span>
                        <img src="assets/img/shapes/tire-shape.png" class="tire-shape-black position-absolute end-0 top-0 z--1" alt="tire shape">
                        <img src="assets/img/shapes/tire-shape-white.png" class="tire-shape-white position-absolute end-0 top-0 z--1" alt="tire shape">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="sr-service-single rounded-top bg-white rounded overflow-hidden">
                    <div class="feature-img overflow-hidden">
                        <img src="assets/img/Testimonial/service-5.jpg" alt="not found" class="img-fluid">
                    </div>
                    <div class="sr-service-content position-relative pt-5 pb-30 px-4">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center bg-white position-absolute">
                            <img src="assets/img/icons/tire.svg" alt="not found" class="img-fluid">
                        </span>
                        <a href="promotion.html" class="title">
                            <h3 class="h4 mb-3">Tire & Auto Parts</h3>
                        </a>
                        <p>Energetically formulate compelling communities & client-based results. Synergistic standardized users after functional leadership.</p>
                    </div>
                    <a href="promotion.html" class="btn btn-secondary w-100 text-start position-relative z-1">
                        <span>Explore More<i class="fa-solid fa-arrow-right"></i></span>
                        <img src="assets/img/shapes/tire-shape.png" class="tire-shape-black position-absolute end-0 top-0 z--1" alt="tire shape">
                        <img src="assets/img/shapes/tire-shape-white.png" class="tire-shape-white position-absolute end-0 top-0 z--1" alt="tire shape">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="sr-service-single rounded-top bg-white rounded overflow-hidden">
                    <div class="feature-img overflow-hidden">
                        <img src="assets/img/Testimonial/service-6.jpg" alt="not found" class="img-fluid">
                    </div>
                    <div class="sr-service-content position-relative pt-5 pb-30 px-4">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center bg-white position-absolute">
                            <img src="assets/img/icons/brake.svg" alt="not found" class="img-fluid">
                        </span>
                        <a href="promotion.html" class="title">
                            <h3 class="h4 mb-3">Break Service</h3>
                        </a>
                        <p>Energetically formulate compelling communities & client-based results. Synergistic standardized users after functional leadership.</p>
                    </div>
                    <a href="promotion.html" class="btn btn-secondary w-100 text-start position-relative z-1">
                        <span>Explore More<i class="fa-solid fa-arrow-right"></i></span>
                        <img src="assets/img/shapes/tire-shape.png" class="tire-shape-black position-absolute end-0 top-0 z--1" alt="tire shape">
                        <img src="assets/img/shapes/tire-shape-white.png" class="tire-shape-white position-absolute end-0 top-0 z--1" alt="tire shape">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--service section end-->

<!--feature section start-->
<!-- <section class="sr-feature-section ptb-120 position-relative overflow-hidden z-1 bg-white">
    <span class="primary-blur rounded-circle position-absolute start-0 top-0 z--1"></span>
    <span class="yellow-blur rounded-circle position-absolute end-0 bottom-0 z--1"></span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center">
                    <h2 class="h1">We Are Ensuring the Best Customer Experience</h2>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="sr-feature-content">
                        <ul class="sr-ft-list">
                            <li>
                                <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-credit-card"></i></span>
                                <div class="sr-ft-list-content text-end bg-white rounded">
                                    <h6>Most Flexible Payment</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-shield"></i></span>
                                <div class="sr-ft-list-content text-end bg-white rounded">
                                    <h6>Valuable Insights</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-24-7"></i></span>
                                <div class="sr-ft-list-content text-end bg-white rounded">
                                    <h6>Non-Stop Innovation</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 d-none d-xl-block">
                    <div class="car-wrapper">
                        <img src="assets/img/Testimonial/car.png" alt="car" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="sr-feature-content">
                        <ul class="sr-ft-list">
                            <li>
                                <span class="icon-wrapper icon-left d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-drive"></i></span>
                                <div class="sr-ft-list-content icon-left bg-white rounded">
                                    <h6>Online Car Appraisal</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper icon-left d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-search"></i></span>
                                <div class="sr-ft-list-content icon-left bg-white rounded">
                                    <h6>Personalized Search</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper icon-left d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-solution"></i></span>
                                <div class="sr-ft-list-content icon-left bg-white rounded">
                                    <h6>Consumer-First Mentality</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!--feature section end-->

<!--rental deals-->
<section class="rental-deals ptb-120">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xxl-5 col-xl-6 col-lg-7 order-2 order-lg-1">
                <div class="deals-left pe-sm-3 mt-5 mt-lg-0">
                    <div class="title-style-2">
                        <span class="subtitle lead d-block mb-20 text-primary">Best <mark class="bg-transparent text-secondary p-0">Testimonial</mark></span>
                        <h2 class="h1">Feel the Best Experience With our Rental Deals</h2>
                    </div>
                    <ul class="deals-list-info mt-40">
                        <li class="d-flex">
                            <span class="icon-wrapper d-flex align-items-center justify-content-center text-white bg-primary rounded-1 flex-shrink-0"><i class="flaticon-budget"></i></span>
                            <div class="ms-4">
                                <h5 class="mb-1">Deals for Every Budget</h5>
                                <p class="mb-0">Seamlessly predominate out-of-the-box Testimonial through Collaboratively deploy innovative.</p>
                            </div>
                        </li>
                        <li class="d-flex mt-30">
                            <span class="icon-wrapper d-flex align-items-center justify-content-center text-white bg-primary rounded-1 flex-shrink-0"><i class="flaticon-headphones"></i></span>
                            <div class="ms-4">
                                <h5 class="mb-1">24/7 Customer Support</h5>
                                <p class="mb-0">Rapidiously maintain equity invested internal or "organic" sources after team building manufactured.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 align-self-center order-1 order-lg-2">
                <div class="deals-right">
                    <img src="assets/img/Testimonial/deals.png" alt="not found" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!--rental deals end-->

<!--apps section start-->
<section class="apps-section ptb-120">
    <div class="container">
        <div class="apps-content-wrapper position-relative z-1 overflow-hidden rounded">
            <img src="assets/img/shapes/apps-bg-shape.png" alt="not found" class="position-absolute z--1 end-0 top-0">
            <div class="row">
                <div class="col-xxl-5 col-xl-6">
                    <div class="apps-left">
                        <h2 class="h1 mb-3">Autohive User Friendly App Available</h2>
                        <p class="mb-0">Appropriately monetize one-to-one interfaces rather than cutting-edge Competently disinte rmediate backward.</p>
                        <div class="apps-btn-group mt-40 d-flex align-items-center flex-wrap">
                            <a href="#" class="app-btn primary-btn d-inline-flex align-items-center">
                                <span class="icon-wrapper me-2"><i class="fa-brands fa-google-play"></i></span>
                                <div class="app-btn-content">
                                    <span>Get it on</span>
                                    <strong>Google Play</strong>
                                </div>
                            </a>
                            <a href="#" class="app-btn white-btn d-inline-flex align-items-center">
                                <span class="icon-wrapper me-2"><i class="fa-brands fa-apple"></i></span>
                                <div class="app-btn-content">
                                    <span>Get it on</span>
                                    <strong>App Store</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7 col-xl-6 align-self-end">
                    <div class="apps-right position-relative z-1 mt-60 mt-xl-0">
                        <button class="bg-white wallet-btn shadow rounded-circle text-primary position-absolute"><i class="fa-solid fa-wallet"></i></button>
                        <button class="bg-white heart-btn shadow rounded-circle text-primary position-absolute"><i class="fa-solid fa-heart"></i></button>
                        <div class="download-countdown d-inline-flex align-items-center rounded bg-white shadow position-absolute">
                            <img src="assets/img/home1/author-1.png" alt="author" class="rounded-cricle flex-shrink-0">
                            <div class="download-countdown-content ms-3">
                                <span>Download App</span>
                                <h5 class="mb-0"><span>14.5</span><span>k+</span></h5>
                            </div>
                        </div>
                        <img src="assets/img/home1/apps-bg.png" alt="car" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--apps section end-->

<!--feedback section start-->
<section class="sr-feedback-section">
    <div class="container overflow-hidden">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-title text-center">
                    <h2 class="h1 mb-3">What Customer Are Saying</h2>
                    <p class="mb-0">Are you ready to give your car the service it is asking for? Schedule car maintenance or We know there isn't much more frustrating than being.</p>
                </div>
            </div>
        </div>
        <div class="sr-feedback-slider swiper overflow-visible pb-120 mt-100">
            <div class="swiper-wrapper">
                <div class="sr-feedback-single bg-white rounded swiper-slide">
                    <div class="sr-feedback-top">
                        <img src="assets/img/Testimonial/client-1.jpg" alt="client" class="rounded-circle border-2 client-thumb">
                        <h5 class="mb-0 mt-3">Leslie Alexander</h5>
                        <span class="fw-500">Managing Director</span>
                    </div>
                    <div class="sr-feedback-quote d-flex align-items-center mt-4 mb-4">
                        <span class="quote bg-primary-light flex-shrink-0 d-inline-flex align-items-center justify-content-center rounded-circle text-primary"><i class="fa-solid fa-quote-right"></i></span>
                        <span class="hr-line ms-3"></span>
                    </div>
                    <p>Are you ready to give your car the service it asking for? Schedule car maintenance or We know there being.Collaboratively extend effective expertise vis-a-vis alternative communities.</p>
                    <ul class="rating-field d-flex">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                <div class="sr-feedback-single bg-white rounded swiper-slide">
                    <div class="sr-feedback-top">
                        <img src="assets/img/Testimonial/client-2.jpg" alt="client" class="rounded-circle border-2 client-thumb">
                        <h5 class="mb-0 mt-3">Charles Larocque</h5>
                        <span class="fw-500">Managing Director</span>
                    </div>
                    <div class="sr-feedback-quote d-flex align-items-center mt-4 mb-4">
                        <span class="quote bg-primary-light flex-shrink-0 d-inline-flex align-items-center justify-content-center rounded-circle text-primary"><i class="fa-solid fa-quote-right"></i></span>
                        <span class="hr-line ms-3"></span>
                    </div>
                    <p>Are you ready to give your car the service it asking for? Schedule car maintenance or We know there being.Collaboratively extend effective expertise vis-a-vis alternative communities.</p>
                    <ul class="rating-field d-flex">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                <div class="sr-feedback-single bg-white rounded swiper-slide">
                    <div class="sr-feedback-top">
                        <img src="assets/img/Testimonial/client-3.jpg" alt="client" class="rounded-circle border-2 client-thumb">
                        <h5 class="mb-0 mt-3">Joshua Kirby</h5>
                        <span class="fw-500">Managing Director</span>
                    </div>
                    <div class="sr-feedback-quote d-flex align-items-center mt-4 mb-4">
                        <span class="quote bg-primary-light flex-shrink-0 d-inline-flex align-items-center justify-content-center rounded-circle text-primary"><i class="fa-solid fa-quote-right"></i></span>
                        <span class="hr-line ms-3"></span>
                    </div>
                    <p>Are you ready to give your car the service it asking for? Schedule car maintenance or We know there being.Collaboratively extend effective expertise vis-a-vis alternative communities.</p>
                    <ul class="rating-field d-flex">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--feedback section end-->
<app-footer></app-footer>
