<app-header></app-header>
<section class="breadcrumb-section position-relative z-2 overflow-hidden mt--75" data-background="assets/img/shapes/texture-bg.png">
    <img src="assets/img/shapes/tire-print-left.png" alt="tire print" class="position-absolute start-0 z-1 tire-print">
    <img src="assets/img/shapes/tire-print-right.png" alt="tire print" class="position-absolute end-0 z-1 tire-print">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb-content-wrapper text-center position-relative z-3">
                    <h1 class="text-white">Privacypolicy</h1>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item text-white fw-500"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white fw-500">Page</li>
                        <li class="breadcrumb-item text-white fw-500">Privacypolicy</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sr-feature-section ptb-120 position-relative overflow-hidden z-1 bg-white">
    <span class="primary-blur rounded-circle position-absolute start-0 top-0 z--1"></span>
    <span class="yellow-blur rounded-circle position-absolute end-0 bottom-0 z--1"></span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center">
                    <h2 class="h1">We Are Ensuring the Best Customer Experience</h2>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="sr-feature-content">
                        <ul class="sr-ft-list">
                            <li>
                                <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-credit-card"></i></span>
                                <div class="sr-ft-list-content text-end bg-white rounded">
                                    <h6>Most Flexible Payment</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-shield"></i></span>
                                <div class="sr-ft-list-content text-end bg-white rounded">
                                    <h6>Valuable Insights</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-24-7"></i></span>
                                <div class="sr-ft-list-content text-end bg-white rounded">
                                    <h6>Non-Stop Innovation</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 d-none d-xl-block">
                    <div class="car-wrapper">
                        <img src="assets/img/Privacypolicy/car.png" alt="car" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="sr-feature-content">
                        <ul class="sr-ft-list">
                            <li>
                                <span class="icon-wrapper icon-left d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-drive"></i></span>
                                <div class="sr-ft-list-content icon-left bg-white rounded">
                                    <h6>Online Car Appraisal</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper icon-left d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-search"></i></span>
                                <div class="sr-ft-list-content icon-left bg-white rounded">
                                    <h6>Personalized Search</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                            <li>
                                <span class="icon-wrapper icon-left d-inline-flex align-items-center justify-content-center rounded-circle bg-white"><i class="flaticon-solution"></i></span>
                                <div class="sr-ft-list-content icon-left bg-white rounded">
                                    <h6>Consumer-First Mentality</h6>
                                    <p>Uniquely revolutionize manufactured products for interactive customer service. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>
